{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    <title>Create or Edit Ack - Shipping Site</title>
{% endblock %}

{% block content %}
    <div class="container">
      <div style="margin-top: 75px;" name="title">
          <h2>Edit</h2>
          <em>Edit an ack for current booking, you can also send an email to customer via this page</em><hr>
      </div> <!--end of title-->
      <div name="edit ack" style="width: 500px">
          <form class="form-horizontal" action="{% url 'bookingpart:ack-detail' booking_id %}" method="POST" role="form">
              {% csrf_token %}
              <label for="id_status">Status</label><br />
              <select class="form-control" id="id_status" name="status">
                  <option>To be Approved</option>
                  <option>Request Accepted</option>
                  <option>Ready for Pick up</option>
                  <option>Scheduled</option>
                  <option>To be Shipped</option>
                  <option>Shipped</option>
                  <option>Arrived at Destination</option>
                  <option>Delivered</option>
                  <option>Delivery Delayed</option>
              </select>
              <label for="id_pickup">Pick up date and time</label><br />
              {% if thisack.pickuptime == 'Null' %}
                  <input class="form-control" maxlength="64" type="text" id="id_pickup" value="{{ thisbooking.shipdate }}" name="pickup"  required />
              {% else %}
                  <input class="form-control" maxlength="64" type="text" id="id_pickup" value="{{ thisack.pickuptime }}" name="pickup"  required />
              {% endif %}
              <label for="id_hbl">HBL number</label><br />
              <input class="form-control" maxlength="128" type="text" id="id_hbl" value="{{ thisack.HBLnum }}" name="hbl" required />
              <label for="id_messagec">Message to Customer</label><br />
              <textarea class="form-control" rows="4" id="id_messagec" name="messages" >hello?</textarea>
          </form>
      </div>  <!--end of edit ack-->

      <div></div>


    </div> <!--end of container-->
{% endblock %}