{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}
    <div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
          <h1>Susanto's Shipping Site</h1>
          <p>Customers can making a booking or see their ACK status after register or login</p>
          <p>Waiting for more information</p>
          <p>...</p>
          {% if message %}
              <p><em>{{ message }}</em></p>
          {% else %}
              <p><a class="btn btn-lg btn-primary" href="/login/" role="button">For more information, please register or login &raquo;</a></p>
          {% endif %}
      </div>

      <div class="container">
          <div style="float: left; width: 25%" >
              <h2>Shop</h2>
              <li>Melbourne</li>
              <li>Carlton</li>
              <li>Yarra</li>
          </div>
          <div style="float: left; width: 25%" >
              <h2>Sending</h2>
              <li>Booking now!</li>
          </div>
          <div style="float: left; width: 25%" >
              <h2>Receiving</h2>
              <li>We can pick boxes up at your door!</li>
              <li>Just to make this page longer</li>

          </div>
          <div style="float: left; width: 25%" >
              <h2>Insurance</h2>
              <li>About boxes' insurance</li>
              <li>Making this page longer</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <li>...</li>
              <h2>Welcome Back!</h2>
          </div>


       </div>
       <hr>
       <p>@ Shipping Site, Frostime</p>
    </div> <!-- /container -->
{% endblock %}