{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}
    <title>Login - Shipping Site</title>
{% endblock %}

{% block content %}
    <div class="container">
      <div  style="float: left; margin-top: 75px; width: 400px" >
        <h2>Log in</h2>
        <em>Use a valid account to log in.</em><hr>
        <form class="form-horizontal" action="/login/" method="POST" role="form">
            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}
            {% csrf_token %}
            <p>
                <label for="id_username">Username</label><br />
                <input class="form-control" minlength="5" maxlength="64" type="text" id="id_username" name="username" placeholder="Username" autofocus required />
            </p>
            <p>
                <label for="id_password">Password</label><br />
                <input class="form-control" minlength="6" maxlength="32" type="password" id="id_password" name="password" placeholder="Password" required />
            </p>
            <input type="checkbox" id="id_remember" name="remember">
            <span>Remember me?</span><br/><br/>
            <input class="btn btn-primary" type="submit" value="Login">
            <a href="/index/" class="btn btn-default" role="button">Cancel</a>

        </form>
        <br/><br/>
        <p>Still not a member?<br/><a href="/register/">Click here to create a new account!</a></p>
      </div>
    </div> <!--end of container-->
{% endblock %}
