<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <div style="margin: 20% 15%">
        <h2>Register</h2>
        <em>Create a new account.</em><hr>
        <form action="/register/" method="POST">
            {% if message %}
                <div style = "font-size: small; color: red" class="alert alert-warning">{{ message }}</div>
            {% endif %}

            {% csrf_token %}

            <p>
                <label for="id_username">Username</label><br />
                <input style="width: 270px " minlength="5" type="text" id="id_username" name="username" placeholder=" Username" autofocus required />
            </p>
            <p>
                <label for="id_name">Name</label><br />
                <input style="width: 270px " type="text" id="id_name" name="name" placeholder=" Real name"  required />
            </p>
            <p>
                <label for="id_address">Home Address</label><br />
                <input style="width: 270px " type="text" id="id_address" name="address" placeholder=" e.g. U302/533, Elizabeth street, VIC, 3000" required />
            </p>
            <p>
                <label for="id_phone">Phone Number</label><br />
                <input style="width: 270px " minlength="9" type="text" id="id_phone" name="phone" placeholder=" Phone Number" required />
            </p>
            <p>
                <label for="id_email">Email Address</label><br />
                <input style="width: 270px " type="email" id="id_email" name="email" placeholder=" e.g. xxxx@gmail.com" required />
            </p>
            <p>
                <label for="id_password">Password</label><br />
                <input style="width: 270px " minlength="6" maxlength="20" type="password" id="id_password" name="password" placeholder=" Password" autofocus required />
            </p>
             <p>
                <label for="id_password2">Password Again</label><br />
                <input style="width: 270px " type="password" id="id_password2" name="password2" placeholder=" Input your password again" required />
            </p>

            <input type="submit" value="Register">
        </form>

    </div>
</body>
</html>